nbproject
/node_modules
bower_components
/vendor/
/.idea/
/bootstrap4-dialog.iml
/examples/libs/bootstrap-dialog.css
/examples/libs/bootstrap-dialog.js
/examples/index_dev.html
/dist/css/bootstrap-dialog.css.map
/dist/js/bootstrap-dialog.js.map
